@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.body {
    margin: 0%;
}

#button_group {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    height: 10%;
    margin-left: -10px;
    margin-top: -10px;
    border: 3px solid green;
}

#button_group button{
    width: 20%;
    height: 100%;
    
}

#button_group button:hover {
        background-image: linear-gradient(to right, red,yellow,green,blue,violet);
}

#button_group a {
    display: block;
    text-align: center;
    width: 18%;
    line-height: 100%;
    float: right;
    text-decoration: none;
}