@page "/"
<!--@using AssemblyLineManager.Core;-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>

<body>
    <div id="button_group">
        <button @onclick="Start">Start</button>
        <button @onclick="Stop">Stop</button>
        <button @onclick="Pause">Pause</button>
        <button @onclick="Clear">Clear</button>
        <a href="machine_info">Machine info</a>
    </div>
</body>

</html>

@code {
    void Start()
    {
    
    }
    void Stop()
    {

    }
    void Pause()
    {

    }
    void Clear()
    {

    }
}