@page "/"
@inject Core.Core core;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>

<body>
    <div id="button_group">
        <button @onclick="Start">Start</button>
        <button @onclick="Stop">Stop</button>
        <button @onclick="Pause">@changeButtonText</button>
        <button @onclick="Clear">Clear</button>
        <a href="machine_info">
            <button>Machine info</button>
        </a>
    </div>
</body>

</html>

@code {
    [Parameter]
    public string changeButtonText { get; set; } = "Pause";

    void Start()
    {
        core.StartAssemblyLine();
    }
    void Stop()
    {
        core.StopAssemblyLine();
    }
    void Pause()
    {
        if (core.isRunning())
        {
            core.PauseAssemblyLine();
            changeButtonText = "Resume";
        }
        else
        {
            core.ResumeAssemblyLine();
            changeButtonText = "Pause";
        }
        InvokeAsync(() => StateHasChanged());
    }
    void Clear()
    {
        if (!core.isRunning())
            core.StopAssemblyLine();
    }
}